body{
    
    font-family: 'Muli','Open Sans','Open Sans-fallback',sans-serif;
    
}

#index_body{
    background-color: rgb(215, 222, 220);
    
}

/* Tables (List.html) */
table,
th,
td {
    border: 1px solid;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    
}
    
    
th,
td {
    text-align: center;
    padding: 8px;
    
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: rgb(84, 134, 135);
    color: white;
}


/* Index headers */
.index_header, .list_header {
    margin-top: 50px;
    text-align: center;
    
}
/* Dropdown (index.html) */
#dropdown{
    border-radius: 10px;
    height:40px;
    width: auto;
    padding-left: 15px;
    font-size: 15px;
    background-color: rgb(215, 222, 220);
    
    
}

option{
    text-align: left;
    
}

.search_prop{
    background: rgb(84, 134, 135);
    border-radius: 16px ;
    /* width: 900px; */
    box-shadow: 0 2px 32px rgb(31 37 115 / 40%);
    height: 200px;
    margin-top: 16px;
    padding: 16px 16px 24px;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;


}
.search_prop_header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 20px;
}




/*LINKS*/
a.property_link {
    text-decoration: none;
}

/* color link */
a.property_link:link,
a.property_link:visited {
    color: rgb(28, 58, 58);
}


/* mouse over link */
a.property_link:hover {
    color: rgb(68, 181, 48);
    text-decoration: underline;
}

/* selected link */
a.property_link:active {
    color: rgb(11, 11, 11);
    text-decoration: underline;
}


.return_btn{
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: rgb(52, 138, 140);
}
.return_btn:hover{
   
    /* content: ''; */
    /* position: absolute; */
    /* bottom: 0;
    left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    background-color: rgb(38, 170, 132);
    border-radius: 5rem;
    /* z-index: -2; */
       
}
.btn_link{
    text-decoration: none;
    color: #fff;
}
.btn_container{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

