<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Locations</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
</head>


<body id = "index_body">
    <h1 class = "index_header" style="font-size:40px;">Welcome to the Properties Scraper Statistics!</h1>

    <p class = "index_header" style="font-size:20px; margin-top: 30px;">Agency assistant that facilitates the search for private properties</p>

    



    <div class = "search_prop">
        <h2 class = "search_prop_header">
            Search property in ...
        </h2>
        <div class = "search_prop_body">

            <select id = "dropdown" name=locations method="GET" action="/" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <option value = "" > SELECT </option>
                {% for l in locations[0:] %}
                <option value = "{{ url_for( 'property', location=l.location ) }}" href="{{ url_for( 'property', location=l.location ) }}">
                    {{l.location}}</option>
                {% endfor %}
    
            </select>

        </div>

    </div>


       

   


    <!-- <ul>
        {% for l in locations %}
        <li><a href="{{ url_for( 'property', location=l.location ) }}">{{ l.location }}</a></li>
        {% endfor %}
    </ul> -->




</body>

</html>